.container-menutitle{
    color: white;
}
.container-menutitle > h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 135px;
    font-weight: bold;
    font-family: 'Segoe UI',sans-serif;
    display: flex;
    justify-content: center;
}
.container-menutitle > hr {
    margin-top: 20px;
    margin-bottom: 20px;
}