.container-small-card {
    width: 100%;
}

.container-small-card-content {
    display: flex;
    flex-direction: row;
}


.small-card-img img {
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.small-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card-separator {
    margin-top: 10px;
}