<div class="container-big-card">

    <div class="big-card-img">
        <img src="https://s2.glbimg.com/2QnEImPirqci_2qnvpXlvHeYwIk=/620x350/e.glbimg.com/og/ed/f/original/2019/04/26/1.jpg" alt=""
            height="200px" width="300px">
    </div>

    <div class="big-card-title">
        <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card-description">
        <p><a href="">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus officia dolores accusantium fugiat dolor assumenda aliquid illum mollitia odio quisquam ab dicta, cum eaque dignissimos ipsum vel tempore. Ipsam, nemo.
            </a>
        </p>
    </div>
</div>