<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menutitle></app-menutitle>

<div class="container-articles">

    <div class="articles-main">
        <app-big-card cardDescription="Marvel anuncia novo homem de ferro" cardTitle="NOVO HOMEM DE FERRO"
            photoCover="https://s2.glbimg.com/2QnEImPirqci_2qnvpXlvHeYwIk=/620x350/e.glbimg.com/og/ed/f/original/2019/04/26/1.jpg"></app-big-card>
    </div>

    <div class="articles-others">
        <app-smallcard photoCover="https://www.scannain.com/media/marvel_logo.jpg" cardTitle="Nova série da Marvel Anunciada"></app-smallcard>
        <app-smallcard photoCover="https://s2.glbimg.com/PHgwk9Rs2Yn6Vnwiy_o34xBxdA8=/e.glbimg.com/og/ed/f/original/2018/02/21/landscape-1515170651-black-panther-poster.jpg" cardTitle="Nova série da Marvel Anunciada"></app-smallcard>
        <app-smallcard photoCover="https://t2.tudocdn.net/605478?w=1920" cardTitle="Data anunciada de volverine"></app-smallcard>
    </div>

</div>